*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(to right, red , yellow);
}



.hero h1 {
    background: repeating-linear-gradient(red, yellow 10%, green 20%);
    text-align: center;
    align-items: center;
    font-size: 200px;
    font-weight: 900;
    
}

.hero p {
    font-size: 40px;
    font-weight: 600;
    padding: 0px 120px;

}